@import "./bulma.min.css";

.box {
  background-color: whitesmoke;
}

/*
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  padding: 20px;
}

header {
  background-color: #f4f4f4;
  padding: 10px;
}

header nav {
  display: flex;
  justify-content: space-between;
}

header nav a {
  margin-right: 10px;
}

h2 {
  margin-top: 0;
}

.thread {
  background-color: gray;
}

.post {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #03c0da;
  border: none;
  cursor: pointer;
}*/